.signup_form {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 50px;
    background: rgb(92.4%, 93.7%, 88.8%);
}

.header {
    padding-bottom: 50px;
}

a {
    color: rgb(59.8%, 65.2%, 44.5%);
}

a:hover {
    color: rgb(35.9%, 39.4%, 26.1%);
}

.btn {
    background: rgb(76.6%, 82.7%, 59.4%);
    border-color: rgb(76.6%, 82.7%, 59.4%);
    color: rgb(35.9%, 39.4%, 26.1%);
    font-size: 15px;
    font-weight: bold;
    min-width: 120px;
    margin-top: 20px;
}

.btn:hover {
    background: rgb(59.8%, 65.2%, 44.5%);
    border-color: rgb(59.8%, 65.2%, 44.5%);
}
  
.error {
    color: red;
    margin-left: 5px;
}
  
label.error {
    display: inline;
}
